services:
  ollama-web:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
    network_mode: "host"
    environment:
      - NODE_ENV=development
      - OLLAMA_URL=${OLLAMA_URL:-http://localhost:11434}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: always
